.App {
  background-color: lightgray;
  height: 100vh;
  padding: 40px;
}

.App-logo {
  width: 250px;
  pointer-events: none;
  height: fit-content;
  /* padding-top: 40px; */
}

.Page-title {
  font-size: 100px;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.Red-text {
  color: red;
}

.App-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
}

.App-link {
  color: #61dafb;
}

.Form-container {
  /* border: solid hotpink 3px; */
  margin: 100px;
  background-color: grey;
  padding: 30px
}

#submit-btn {
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 15px;
  border-color: white;
  cursor: pointer;
}
