.App {
  background-color: whitesmoke;
  height: 100vh;
  padding: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.App-logo {
  width: 250px;
  pointer-events: none;
  height: fit-content;
  margin-right: 30px;
}

.Page-title {
  font-size: 70px;
  margin: 0;
  font-weight: bolder;
}

.Red-text {
  color: #fd0303;
}

.App-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

.Form-container {
  margin: 60px auto;
  background-color: lightgray;
  padding: 50px;
  border-radius: 20px;
  max-width: 700px;
}

#submit-btn {
  color: white;
  background-color: #fd0303;
  font-weight: bold;
  border-color: white;
  cursor: pointer;
}
