.App {
  background-color: lightgray;
  height: 100vh;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.Page-title {
  font-size: 100px;
  padding-left: 30px;
  margin: 0;
}


.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Form-container {
  border: solid hotpink 3px;
  margin: 100px;
}

